{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
      <dt>Enter your phone number:
      <dd><input type=text size=30 name=phone>
    </dl>
    <p>You will be automatically matched with a buddy. When you get your match, text them how you are feeling about the program or to get advice with the program. Two rules to follow please: 1) Be nice 2) Don't assume you understand what your buddy means. Just tell your buddy you don't understand.</p>
  </form>
  <ul class=entries>
  {% for entry in entries %}
    <li><strong>Phone #:&nbsp;</strong>{{ entry.phone }}&nbsp;<strong>Buddy:&nbsp;</strong>{{ entry.buddy }}
  {% endfor %}
  </ul>
{% endblock %}