@red: #FF5776;
@bluedark: #1284B2;
@blueneon: #00B5FF;
@white: #FFFFFF;
@yellow: #FFFF95;

/**
 *
 * Layout
 *
 **/

@sitewidth: 750px;


 .container {
 	max-width: @sitewidth;
 	padding: 5px;
 	margin: 0 auto;
 	display: block;
 }

 .topbar {

 }

 .topnav {
 	margin: 0;
 	padding: 5px 0 0 10px;
 	border: 1px red;

 }

 .join {
 	//layout and size
 	height: 200px;
 	width: 500px;

 	//parts
 	input[text] {};
 	input[submit] {};
 }

 .content {

 }

 .copyblock {
 	max-width: percentage(0.5);

 }

/**
 *
 * Styling Utils
 *
 **/



/**
 *
 * Parts
 *
 **/
 .topbar {

 	ul { //styling
 	li { //styling

 	}
 	}
 }

 .site-logo {}

 .menubar {}