// General things
@sitewidth: 750px;
@red: #FF5776;
@bluedark: #1284B2;
@blueneon: #00B5FF;
@white: #FFFFFF;
@yellow: #FFFF95;


.topbar {
	padding: 5px 0 0 10px;
 }

.topnav {
	max-width: @sitewidth;
 	padding: 0;
 	margin: 0;
 	border-color: red;
 	border-width: 1px;


 	ul { //styling
 		li { //styling

 		}
 	}

 }

.content {
 	max-width: @sitewidth;
 	margin: 0;
 	padding: 0;
 	display: inline;
 }

.join {
 	//layout and size
 	height: 200px;
 	width: 500px;

 	//parts
 	input[type=text] {
 		height: 20px;
 		width: 50px;
 	};
 	input[type=submit] {};
 }



.copyblock {
	display: inline;
 	max-width: percentage(0.4);
}

#about {
	float: left;
	.copyblock
}
#why-join {
	float: right;
	.copyblock
}


.content {
	background: lighten(@blueneon, 30%);
}

.site-logo {}

.menubar {}